{% extends "auctions/layout.html" %}

{% block title %} {{ category.name }} | Auctions {% endblock %}

{% block body %}
    <h2>{{ title }}</h2>

    {% for listing, max_bid in listings.items %}

    <h5><a href="{% url 'listing_page' listing.id %}">{{ listing.title }}</a></h5>

    {% if listing.image_url %}
        <img src="{{ listing.image_url }}" alt="Listing picture">
    {% endif %}

    <p>{{ listing.description }}</p>
    <p>Highest bid: ${{ max_bid }}</p>  

{% endfor %}
    

{% endblock %}