{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.title }} | Auctions
{% endblock %}

{% block body %}
    <h5>{{ listing.title }}</h5>
        <a href="{% url 'add_to_watchlist' listing.id %}"><h6>{{ listing_manipulation }}</h6></a>

    {% if listing.image_url %}
        <img src="{{ listing.image_url }}" alt="Listing picture">
    {% endif %}

    <p>{{ listing.description }}</p>
    <p>Highest bid: ${{ max_bid }}</p>

    {% if bid_form %}
    <form action="{% url 'listing_page' listing.id %}" method="post">
        {% csrf_token %}
        
        {{ bid_form.bid }}
        <input class="btn btn-primary" type="submit" value="Place Bid">
    </form>
    {% endif %}
    
{% endblock %}